* {
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
}
:root {
  --main-padding: 100px;
  --main-background-color: white;
  --second-background-color: #1d84a0;
  --main-header-color: black;
  --second-header-color: #19c8fa;
  --main-text-color: #777;
  --transparent-color: rgb(15, 116, 143, 70%);
  --second-transparent: rgb(0, 0, 0, 70%);
}
body {
  font-family: "Work Sans", "sans serif";
}
.container {
  margin: 0 auto;
  padding: 0 15px;
}
/*responsive===========================*/
/*Small*/
@media (min-width: 786px) {
  .container {
    width: 750px;
  }
}
/*Medium*/
@media (min-width: 992px) {
  .container {
    width: 970px;
  }
}
/*Large*/
@media (min-width: 1200px) {
  .container {
    width: 1170px;
  }
}
/*End*/