* {
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
}
:root {
  --main-padding: 100px;
  --main-background-color: white;
  --second-background-color: #1d84a0;
  --main-header-color: black;
  --second-header-color: #19c8fa;
  --main-text-color: #777;
  --transparent-color: rgb(15, 116, 143, 70%);
  --second-transparent: rgb(0, 0, 0, 70%);
}
body {
  font-family: "Work Sans", "sans serif";
}
.container {
  margin: 0 auto;
  padding: 0 15px;
}
/*responsive===========================*/
/*Small*/
@media (min-width: 786px) {
  .container {
    width: 750px;
  }
}
/*Medium*/
@media (min-width: 992px) {
  .container {
    width: 970px;
  }
}
/*Large*/
@media (min-width: 1200px) {
  .container {
    width: 1170px;
  }
}
/*End*/
/*Special Header*/
div.special-header{
  text-align: center;
  margin-bottom: 100px;
}
div.special-header div.special-header-content{
  width:50%;
  margin:auto;
}
div.special-header h1{
  font-size:40px;
  font-weight:normal;
  text-transform: uppercase;
  position:relative;
  margin-bottom: 70px;
}
div.special-header h1::before{
content:'';
width: 120px;
height:2px;
position:absolute;
background-color: black;
bottom:-30px;
left: calc( 50% - 60px );
}
div.special-header h1::after{
  content:'';
  width:14px;
  height:14px;
  background-color: white;
  border:2px solid black;
  border-radius: 50%;
  position:absolute;
  bottom:-38px;
  right:calc(50% - 7px);
}
div.special-header p{
  color: var(--main-text-color);
  line-height:2;
  max-width: 100%;
}
/*Ends*/
/*Home Section*/
/*nav*/
nav div.container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 10px;
  position: relative;
}
nav div.container::before {
  content: "";
  background-color:var(--main-background-color);
  position: absolute;
  height: 1px;
  width: 100%;
  bottom: -1px;
  z-index: 1;
}
nav div.container div.logo {
  width: 60px;
}
nav div.container ul.links {
  display: flex;
  align-items: center;
  justify-content: space-around;
  list-style-type: none;
  padding: 0px;
}
nav div.container ul.links > li a {
  color: white;
  text-decoration: none;
  padding: 16px;
  text-transform: capitalize;
  position:relative;
}
nav div.container ul.links > li a:hover {
  color: var(--second-header-color);
  border-bottom: 1px solid var(--second-header-color);
  z-index:2;
}
nav div.container ul.links li:last-child {
    font-size:16px;
    color:white;
    border-left: 1px solid var(--main-background-color);
    cursor: pointer;
    padding-left: 16px;
}
/*nav*/
/*Landing*/
div.landing {
  height: 100vh;
  background: url("../images/landing.jpg");
  background-size: cover;
}
div.calc{
    background-color: var(--second-transparent);
    height: 100vh;
}
div.landing div.landing-content{
  width:50%;
  background-color: var(--transparent-color);
  padding:50px;
  position: relative;
  top:20%;
  display: flex;
  justify-content: flex-end;
}
div.landing div.landing-content div.landing-text-content{
  width:500px;
  color:white;
}
div.landing div.landing-content div.landing-text-content h1{
  font-size:32px;
  font-weight:normal;
  line-height: 1.5;
  text-transform: capitalize;
  margin-top: 0px;
} 
div.landing div.landing-content div.landing-text-content p{
  line-height: 2;
  font-size: 14px;
}
/*ends*/
/*slide*/
div.landing div.slide{
  display:flex;
  justify-content: center;
  position:relative;
  top:38%;
}
div.landing div.slide span{
  display:block;
  width:20px;
  height:20px;
  border: 1px solid var(--main-background-color);
  border-radius: 50%;
  margin:5px;
}
div.landing div.slide span:nth-child(2){
  border:none;
  background-color: var(--second-header-color);
}
/*Services Section*/
div.services-section div.container{
  padding:var(--main-padding) 0;
}
div.services-section div.container div.services-content{
  display: grid;
grid-template-columns: repeat(auto-fill,minmax(400px,1fr));
gap:60px 40px;
  
}
div.services-section div.container div.services-content div.card{
  display:flex;
  justify-content: space-between;
} 
div.services-section div.container div.services-content div.card i{
  margin-right: 50px;
  font-size:50px ;
}
div.services-section div.container div.services-content div.card h3{
  color:var(--second-header-color);
  margin-top: 0px;
  margin-bottom: 30px;
  } 
  div.services-section div.container div.services-content div.card p{
    line-height: 2;
    color:var(--main-text-color);
    }
    /*Portfolio*/
    div.portfolio-content{
      color:black;
    }
    div.portfolio-content ul.filter{

      display:flex;
      justify-content: center;
      padding:0px;
      list-style-type:none;
    }
    div.portfolio-content ul.filter li{
      padding:10px;
    }
    div.portfolio-content ul.filter li:first-child{
      background-color: var(--second-header-color);
      color:white;
    }
    div.portfolio-content div.gallery{
      display:grid;
      grid-template-columns:repeat(auto-fill,minmax(300px,1fr));
      
    }
    div.portfolio-content div.gallery div.card {
      position:relative;
      overflow: hidden;
    }
    div.portfolio-content div.gallery div.card img{
      max-width: 100%;
      transition: 0.3s;
    }
    div.portfolio-content div.gallery div.card:hover img{
      transform: scale(1.3) rotate(10deg);
  }

    div.portfolio-content div.gallery div.card div.card-text{
      padding:20px;
      transition:0.3s;
      width: 100%;    
      background-color: white; 
      position: absolute; 
      bottom:-90px;
    }
    div.portfolio-content div.gallery div.card:hover div.card-text{
      bottom:0px;
    }

    div.portfolio-content div.gallery div.card div.card-text h4{
      font-weight: normal;
      margin-top: 0px;
      margin-bottom: 10px;
    }
    div.portfolio-content div.gallery div.card div.card-text p{
      color:var(--second-header-color);
      margin: 0px;
    }
    div.portfolio-content button{
      display: block;
      margin: 30px auto;
      padding:15px 20px;
      background-color: var(--second-header-color);
      color:white;
      text-transform:uppercase;
      border:none;
    }
  