/*Global Rules*/
* {
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
}
:root {
  --main-padding: 100px;
  --main-background-color: white;
  --second-background-color: #1d84a0;
  --main-header-color: black;
  --second-header-color: #19c8fa;
  --main-text-color: #777;
  --transparent-color: rgb(15, 116, 143, 70%);
  --second-transparent: rgb(0, 0, 0, 60%);
}
body {
  font-family: "Work Sans", "sans serif";
}
.container {
  margin: 0 auto;
  padding: 0 15px;
}
/*responsive===========================*/
/*Small*/
@media (min-width: 786px) {
  .container {
    width: 750px;
  }
}
/*Medium*/
@media (min-width: 992px) {
  .container {
    width: 970px;
  }
}
/*Large*/
@media (min-width: 1200px) {
  .container {
    width: 1170px;
  }
}
/*End*/
/*slide*/
div.slide {
  display: flex;
  justify-content: center;
  position: relative;
}
div.slide span {
  display: block;
  width: 20px;
  height: 20px;
  border: 1px solid var(--main-text-color);
  border-radius: 50%;
  margin: 5px;
}
div.slide span:nth-child(2) {
  border: none;
  background-color: var(--second-header-color);
}
/*Special Header*/
div.special-header {
  text-align: center;
  margin-bottom: 100px;
}
div.special-header div.special-header-content {
  width: 50%;
  margin: auto;
}
div.special-header h1 {
  font-size: 40px;
  font-weight: normal;
  text-transform: uppercase;
  position: relative;
  margin-bottom: 70px;
}
div.special-header h1::before {
  content: "";
  width: 120px;
  height: 2px;
  position: absolute;
  background-color: black;
  bottom: -30px;
  left: calc(50% - 60px);
}
div.special-header h1::after {
  content: "";
  width: 14px;
  height: 14px;
  background-color: white;
  border: 2px solid black;
  border-radius: 50%;
  position: absolute;
  bottom: -38px;
  right: calc(50% - 7px);
}
div.special-header p {
  color: var(--main-text-color);
  line-height: 2;
  max-width: 100%;
}
/*Ends*/
button.btn {
  display: block;
  margin: 30px auto;
  padding: 15px 20px;
  background-color: var(--second-header-color);
  color: white;
  text-transform: uppercase;
  border: none;
  cursor: pointer;
}
/*Global rules ends*/
/*Home Section*/
/*nav*/
nav div.container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 10px;
  position: relative;
}
nav div.container::before {
  content: "";
  background-color: var(--main-background-color);
  position: absolute;
  height: 1px;
  width: 100%;
  bottom: -1px;
  z-index: 1;
}
nav div.container div.logo {
  width: 60px;
}
nav div.container ul.links {
  display: flex;
  align-items: center;
  justify-content: space-around;
  list-style-type: none;
  padding: 0px;
}
@media(max-width:660px){
  nav div.container ul.links{
    display: none;
  }
}
nav div.container ul.links > li a {
  color: white;
  text-decoration: none;
  padding: 16px;
  text-transform: capitalize;
  position: relative;
}
nav div.container ul.links > li a:hover {
  color: var(--second-header-color);
  border-bottom: 1px solid var(--second-header-color);
  z-index: 2;
}
nav div.container ul.links li:last-child {
  font-size: 16px;
  color: white;
  border-left: 1px solid var(--main-background-color);
  cursor: pointer;
  padding-left: 16px;
}
/*nav*/
/*Landing*/
div.landing {
  height: 100vh;
  background: url("../images/landing.jpg");
  background-size: cover;
}
div.calc {
  background-color: var(--second-transparent);
  height: 100vh;
}
div.landing div.landing-content {
  width: 50%;
  background-color: var(--transparent-color);
  padding: 50px;
  position: relative;
  top: 20%;
  display: flex;
  justify-content: flex-end;
}
@media(max-width:570px){
  div.landing div.landing-content{
    width:100%;
  }
}
div.landing div.landing-content div.landing-text-content {
  width: 500px;
  color: white;
  
}
div.landing div.landing-content div.landing-text-content h1 {
  font-size: 32px;
  font-weight: normal;
  line-height: 1.5;
  text-transform: capitalize;
  margin-top: 0px;
}
div.landing div.landing-content div.landing-text-content p {
  line-height: 2;
  font-size: 14px;
}
/*ends*/
div.landing div.slide {
  top: 38%;
}
/*Services Section*/
div.services-section div.container {
  padding: var(--main-padding) 0;
}
div.services-section div.container div.services-content {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(400px, 1fr));
  gap: 60px 40px;
}
div.services-section div.container div.services-content div.card {
  display: flex;
  justify-content: space-between;
}
div.services-section div.container div.services-content div.card i {
  margin-right: 50px;
  font-size: 50px;
}
div.services-section div.container div.services-content div.card h3 {
  color: var(--second-header-color);
  margin-top: 0px;
  margin-bottom: 30px;
}
div.services-section div.container div.services-content div.card p {
  line-height: 2;
  color: var(--main-text-color);
}
/*design*/
div.services-section div.design {
  background: url("../images/design-features.jpg");
  background-size: cover;
  height: 600px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
  overflow: hidden;
}
div.services-section div.design::before {
  content: "";
  width: 100%;
  height: 100%;
  position: absolute;
  background-color: var(--second-transparent);
}
div.services-section div.design div.design-image {
  position: relative;
  z-index: 2;
  flex: 1;
  text-align: center;
}
div.services-section div.design .design-image img {
  max-width: 100%;
  position: relative;
  bottom: -150px;
}
div.services-section div.design div.design-text-content {
  padding: calc(var(--main-padding) / 2);
  background-color: var(--transparent-color);
  color: white;
  width: 50%;
  position: relative;
  z-index: 2;
}
div.services-section div.design div.design-text-content h2 {
  font-weight: normal;
  text-transform: uppercase;
  margin: 0 0 40px 0;
}
div.services-section div.design div.design-text-content li {
  list-style-type: none;
  padding: 15px 0;
}
div.services-section div.design div.design-text-content li i {
  margin-right: 20px;
}
/*Portfolio*/
div.portfolio-section {
  padding: var(--main-padding) 0;
}
div.portfolio-content {
  color: black;
}
div.portfolio-content ul.filter {
  display: flex;
  justify-content: center;
  padding: 0px;
  list-style-type: none;
}
div.portfolio-content ul.filter li {
  padding: 10px;
}
div.portfolio-content ul.filter li:first-child {
  background-color: var(--second-header-color);
  color: white;
}
div.portfolio-content div.gallery {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
}
div.portfolio-content div.gallery div.card {
  position: relative;
  overflow: hidden;
}
div.portfolio-content div.gallery div.card img {
  max-width: 100%;
  transition: 0.3s;
}
div.portfolio-content div.gallery div.card:hover img {
  transform: scale(1.3) rotate(10deg);
}

div.portfolio-content div.gallery div.card div.card-text {
  padding: 20px;
  transition: 0.3s;
  width: 100%;
  background-color: white;
  position: absolute;
  bottom: -90px;
}
div.portfolio-content div.gallery div.card:hover div.card-text {
  bottom: 0px;
}

div.portfolio-content div.gallery div.card div.card-text h4 {
  font-weight: normal;
  margin-top: 0px;
  margin-bottom: 10px;
}
div.portfolio-content div.gallery div.card div.card-text p {
  color: var(--second-header-color);
  margin: 0px;
}

/*video*/
div.video {
  position: relative;
}
div.video::before {
  content: "";
  width: 100%;
  height: 100%;
  position: absolute;
  background-color: var(--second-transparent);
}
div.video video {
  max-width: 100%;
}
div.video div.video-content {
  background-color: var(--transparent-color);
  color: white;
  width: 100%;
  text-align: center;
  z-index: 2;
  position: absolute;
  top: calc(50% - 122px);
  padding: calc(var(--main-padding) / 2);
}
div.video div.video-content h2 {
  text-transform: uppercase;
  font-weight: normal;
  margin-top: 0px;
  margin-bottom: 30px;
}
div.video div.video-content p {
  text-transform: capitalize;
  margin-top: 0px;
  margin-bottom: 30px;
}
div.video div.video-content button {
  background-color: black;
  color: white;
  padding: 10px 20px;
  border: none;
  text-transform: uppercase;
  margin: 0px auto;
  cursor: pointer;
}
/*about us*/

div.about-section {
  padding: var(--main-padding) 0;
}
div.about-section div.container div.special-header {
  margin-bottom: 0px;
}
div.about-section div.container div.special-header img {
  max-width: 100%;
  position: relative;
  bottom: -120px;
  left: -40px;
}

div.about-section div.stat {
  background: url("../images/stats.png");
  background-size: cover;
  padding: var(--main-padding) 0;
  position: relative;
}
div.about-section div.stat::before {
  content: "";
  height: 100%;
  width: 100%;
  position: absolute;
  top: 0;
  background-color: var(--second-transparent);
}
div.about-section div.stat div.container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  position: relative;
  z-index: 2;
}
div.about-section div.stat div.container div.card {
  width: 255px;
  padding: 50px;
  color: white;
  background-color: var(--transparent-color);
  text-align: center;
}
div.about-section div.stat div.container div.card i {
  background-color: black;
  border-radius: 50%;
  padding: 10px;
  margin: 0 auto 30px;
}
div.about-section div.stat div.container div.card div.card-text-content h2 {
  font-weight: 600;
  font-size: 50px;
  margin-top: 0px;
  margin-bottom: 20px;
}
div.about-section div.stat div.container div.card div.card-text-content p {
  margin: 0;
}
/*more info*/
/*testimonials*/
div.about-section div.more-info {
  padding: var(--main-padding) 0;
}
div.about-section div.more-info div.container {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}
div.about-section div.more-info div.container div.testimonials,
div.about-section div.more-info div.container div.skills {
  flex-basis: 45%;
}
@media (max-width: 992px) {
  div.about-section div.more-info div.container div.testimonials,
  div.about-section div.more-info div.container div.skills {
    flex-basis: 100%;
  }
  div.about-section div.more-info div.container div.skills {
    margin-top: 60px;
  }
}
div.about-section div.more-info div.container div.testimonials div.card {
  display: flex;
}
div.about-section div.more-info div.container div.header {
  text-align: center;
  color: var(--main-text-color);
  font-weight: normal;
  margin-bottom: 60px;
}
div.about-section div.more-info div.container div.header h3 {
  color: black;
  font-weight: normal;
  margin-top: 0px;
}
div.about-section div.more-info div.container div.header p {
  line-height: 2;
  margin: 0px;
}
div.about-section div.more-info div.container div.testimonials div.card img {
  max-width: 100px;
  height: 100px;
  border-radius: 50%;
  margin-right: 50px;
}
div.about-section
  div.more-info
  div.container
  div.testimonials
  div.card
  div.card-text-content
  p {
  margin: 0px;
  line-height: 1.8;
}
div.about-section
  div.more-info
  div.container
  div.testimonials
  div.card
  div.card-text-content {
  border-bottom: 1px solid var(--second-header-color);
}
div.about-section
  div.more-info
  div.container
  div.testimonials
  div.card
  div.card-text-content
  p:last-child {
  font-size: 14px;
  text-align: right;
  color: var(--main-text-color);
  margin-top: 0px;
  margin-bottom: 10px;
}
div.testimonials div.slide {
  top: 10%;
}
/*skills*/
div.about-section div.more-info div.container div.skill {
  width: 100%;
}
div.about-section div.more-info div.container div.skill h4 {
  text-transform: uppercase;
  font-weight: normal;
  margin-bottom: 15px;
}
div.about-section div.more-info div.container div.skill span.box-level {
  display: block;
  width: 100%;
  height: 30px;
  background-color: var(--main-text-color);
}
div.about-section div.more-info div.container div.skill span.box-level span {
  display: block;
  height: 100%;
  background-color: var(--second-header-color);
  position: relative;
}
div.about-section
  div.more-info
  div.container
  div.skill
  span.box-level
  span::before {
  content: "";
  height: 0;
  width: 0px;
  border: 10px solid;
  border-color: black transparent transparent transparent;
  position: absolute;
  top: calc(-100% + 18px);
  left: calc(100% - 8px);
}
div.about-section
  div.more-info
  div.container
  div.skill
  span.box-level
  span::after {
  height: fit-content;
  width: 35px;
  padding: 1px;
  background-color: black;
  color: white;
  position: absolute;
  top: -100%;
  left: calc(100% - 16px);
  border-radius: 5px;
}
div.about-section
  div.more-info
  div.container
  div.skill:first-child
  span.box-level
  span {
  width: 90%;
}
div.about-section
  div.more-info
  div.container
  div.skill:first-child
  span.box-level
  span::after {
  content: "90%";
}
div.about-section
  div.more-info
  div.container
  div.skill:nth-child(2)
  span.box-level
  span {
  width: 70%;
}
div.about-section
  div.more-info
  div.container
  div.skill:nth-child(2)
  span.box-level
  span::after {
  content: "70%";
}
div.about-section
  div.more-info
  div.container
  div.skill:nth-child(3)
  span.box-level
  span {
  width: 95%;
}
div.about-section
  div.more-info
  div.container
  div.skill:nth-child(3)
  span.box-level
  span::after {
  content: "95%";
}
div.about-section
  div.more-info
  div.container
  div.skill:last-child
  span.box-level
  span {
  width: 80%;
}
div.about-section
  div.more-info
  div.container
  div.skill:last-child
  span.box-level
  span::after {
  content: "80%";
}
/*qutoe*/
div.about-section div.quote {
  background: url("../images/quote.jpg");
  background-size: cover;
  padding: var(--main-padding) 0;
  text-align: center;
  position: relative;
  color: white;
}
div.about-section div.quote::before {
  content: "";
  height: 100%;
  width: 100%;
  background-color: var(--second-transparent);
  position: absolute;
  top: 0px;
  left: 0px;
}
div.about-section div.quote div.text {
  margin: auto;
  width: 80%;
  position: relative;
  z-index: 2;
}
div.about-section div.quote div.text q {
  font-size: 30px;
  margin-bottom: 20px;
}
div.pricing-section div.offers {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  text-align: center;
}
div.pricing-section div.offers div.offer {
  width: 250px;
}
div.pricing-section div.offers div.header {
  border: 1px solid;
  border-color: var(--second-header-color) transparent
    var(--second-header-color) transparent;
  padding: 40px 20px;
}
div.pricing-section div.offers div.offer h3 {
  text-transform: uppercase;
  font-weight: normal;
}
div.pricing-section div.offers div.offer span {
  position: relative;
  font-size: 60px;
}
div.pricing-section div.offers div.offer span::before {
  content: "$";
  position: absolute;
  top: 0;
  left: -40px;
  font-size: 25px;
  font-weight: normal;
}
div.pricing-section div.offers div.offer span::after {
  content: "/Mo";
  position: absolute;
  bottom: 0;
  right: -40px;
  font-size: 20px;
}
div.pricing-section div.offers div.offer ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
  border-bottom: 1px solid var(--second-header-color);
}
div.pricing-section div.offers div.offer ul li {
  padding: 20px;
  color: var(--main-text-color);
  position: relative;
}
div.pricing-section div.offers div.offer ul li:not(:last-child):after {
  content: "";
  position: absolute;
  width: 60%;
  height: 2px;
  background-color: var(--second-header-color);
  top: 100%;
  left: 20%;
}
div.pricing-section div.offers div.offer button {
  padding: 20px;
  background-color: white;
  border: 1px solid var(--second-header-color);
  margin:30px auto;
}
div.pricing-section div.offers div.offer button:hover{
  background-color: var(--second-header-color);
  color:white;
  cursor: pointer;
}
div.pricing-section div.bye{
  text-align: center;
}
div.pricing-section div.bye p{
    margin: 50px 0 20px 0;
    font-size: 20px;
}
/*Subscribe*/
div.pricing-section div.subscribe{
  background:url('../images/subscribe.jpg');
  background-size:cover;
  padding:var(--main-padding) 0;
  position: relative;
margin:var(--main-padding) 0;}
div.pricing-section div.subscribe::before{
  content:'';
  width:100%;
  height:100%;
  background-color: var(--second-transparent);
  position:absolute;
  left:0px;
  top:0;
}
div.pricing-section div.subscribe div.container{
  display:flex;
}
div.pricing-section div.subscribe div.sub-submit{
display: flex;
align-items: center;
margin-right:50px;
position: relative;}
div.pricing-section div.subscribe div.sub-submit i{
  position:absolute;
  left:0px;
  font-size: 20px;
  padding:5px;
  color: white;
  top:17px;
  left:2px;
}
div.pricing-section div.subscribe div.sub-submit .sub-input{
border:1px solid white;
outline:none;
height: 60px;
width:300px;
background-color: transparent;
}
div.pricing-section ::placeholder{
  padding-left: 30px;
  color:white;
}
div.pricing-section  div.sub-submit button{
  display: inline;
  position: relative;
  left: -6px;
  border:1px solid white;
  height: 61px;
  margin: 0;
}
div.pricing-section div.subscribe p{
  color:white;
  position: relative;
  z-index:2;
  line-height: 2;
  margin:0;
}




